.App {
  text-align: center;
}

#submit{
  margin-top:20px;
  margin-left: 6%;
}
#head{
  margin-top: 20px;
}

#paging{
  margin-top: 100px;
  margin-left: 50%;
  
}
.lists:hover {
  background-color:#f1f1db;
}
.img{

    height: 200px;
    width: 200px;
    margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 100px;
}
.back{
  margin-top: 100px;
background-color:#bed2cc;
}
.size{
  font-size: small;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
